<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>PDF Anonymizer</title>
</head>
<body>
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="col-md-10 col-md-offset-1 alert alert-{% if category=='message' %}warning{% else %}{{ category }}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1 jumbotron">
                {% block content %}
                <h1>Anonimizacja plików .pdf</h1>
                <p class="lead">Załaduj pliki .pdf przez formularz, by usunąć metadane</p>
                <div class="col-md-6">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="input-files">Pliki .pdf</label>
                            <input type="file" multiple="" name="files" id="input-files" />
                        </div>
                        <div class="form-group">
                            <label for="filename">Nazwa pliku wyjściowego (opcjonalne)</label>
                            <input type="text" class="form-control" id="filename" name="filename" />
                        </div>
                        <button type="submit" class="btn btn-success">Zatwierdź</button>
                    </form>
                </div>
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>